<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link href="/static/css/styleRegister.css"  rel="stylesheet">
    <script src="https://kit.fontawesome.com/845d177f21.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="card">
        <div class="column" id="form">
            <h1 id="register">Welcome!</h1>
            <p id="text1">Please, introduce this information to register.</p>
            
            <form name="register_form" action="#">
                <div class="form-div">
                    <input name="name" type="text" class="form-text" placeholder="Full Name">
                </div>

                <div class="form-div">
                    <input name="email" type="text" class="form-text" placeholder="Email">
                </div>

                <div class="form-div">
                    <input name="password" type="password" class="form-text" placeholder="Password">
                </div>

                <p class="error  error--hidden"></p>

                <div class="form-div" id="checkbox">
                    <input type="checkbox" placeholder="Remember me" id="remember_me" value="remember_me">
                    <label>Remember me</label>
                </div>

                <div class="form-div">
                    <input id="register-btn" type="submit" value="Register"/>
                </div>
            </form>
        </div>

        <div id="divider">
        </div>

        <div class="column" id="form">
            <h1>Login</h1>
            <p class="textRegister">Are you already registered, login here!</p>

            <form action="/login" name="login_form">
                <input id="login-btn" type="submit" value="Go to login"/>
            </form>
        </div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts_signup.js"></script>
</body>

</html>